<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" th:href="@{/images/logo.png}">
    <title>SGP-VADU | Listado de Empleados</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" />
    <link rel="stylesheet" th:href="@{/mdb5/css/mdb.min.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
    <header class="sticky-top" th:insert="~{fragmentos/menu.html::menu}"></header>

    <main role="main">
        <hr>
        <div class="container pb-5">
            <div class="card border border-black mb-3">
                <h4 class="card-header text-white" style="background-color: #c62020;">
                    <strong>Listado de Empleados</strong>
                </h4>
                <div class="card-body">
                    <a class="btn btn-primary" th:href="@{/empleados/nuevo}" title="Registrar nuevo empleado"
                        role="button"><i class="fas fa-person fa-lg"></i> Nuevo</a>
                    <div style="float: right;">
                        <a class="btn text-white" th:classappend="${empleados.isEmpty() ? 'disabled' : 'enabled'}"
                            th:href="@{/empleados/exportarPDF}" title="Exportar a PDF" role="button"
                            data-mdb-toggle="tooltip" style="background-color: #c62020;"><i
                                class="fa-solid fa-file-pdf fa-lg"></i></a>
                        <a class="btn text-white ms-1" th:classappend="${empleados.isEmpty() ? 'disabled' : 'enabled'}"
                            th:href="@{/empleados/exportarExcel}" title="Exportar a Excel" role="button"
                            data-mdb-toggle="tooltip" style="background-color: #1d7044"><i
                                class="fa-solid fa-file-excel fa-lg"></i></a>
                    </div>
                    <hr>
                    <div class="alert alert-success" role="alert" th:if="${msg!=null}">
                        <i class="fa-solid fa-circle-check"></i> <strong th:text="${msg}"></strong>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover table-light">
                            <thead class="table-secondary">
                                <tr>
                                    <th scope="col" class="text-center">ID</th>
                                    <th scope="col">Nombre(s)</th>
                                    <th scope="col">Ap. Paterno</th>
                                    <th scope="col">Ap. Materno</th>
                                    <th scope="col">Teléfono</th>
                                    <th scope="col">E-mail</th>
                                    <th scope="col">Sexo</th>
                                    <th scope="col">Salario</th>
                                    <th scope="col">Fecha de Contratación</th>
                                    <th scope="col" class="text-center">Operaciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="empleado:${empleados}">
                                    <th class="text-center" th:text="${empleado.id}" scope="row"></th>
                                    <td th:text="${empleado.nombre}"></td>
                                    <td th:text="${empleado.apellidoPaterno}"></td>
                                    <td th:text="${empleado.apellidoMaterno}"></td>
                                    <td th:text="${empleado.telefono}"></td>
                                    <td th:text="${empleado.email}"></td>
                                    <td th:text="${empleado.sexo}"></td>
                                    <td th:text="'$' + ${empleado.salario}"></td>
                                    <td th:text="${empleado.fechaContratacion}"></td>
                                    <td class="text-center"><a th:href="@{/empleados/buscar(id=${empleado.id})}"
                                            class="btn btn-success btn-sm" role="button" title="Modificar el registro"
                                            data-mdb-toggle="tooltip"><i class="fas fa-pencil-alt fa-lg"
                                                aria-hidden="true"></i></a> <a
                                            th:href="@{/empleados/eliminar(id=${empleado.id})}"
                                            onclick="return confirm('¿Estas seguro?')"
                                            class="btn btn-sm btn-danger mt-2" role="button"
                                            title="Eliminar el registro" data-mdb-toggle="tooltip"
                                            style="background-color: #c62020;"><i class="fas fa-trash fa-lg"
                                                aria-hidden="true"></i></a></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="10" th:text="'Cantidad Total de Empleados: ' + ${total}" class="fw-bold"></td>
                                </tr>
                            </tfoot>
                        </table>
                        <nav th:if="${empleados.totalPages > 0}" aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                <li class="page-item" th:classappend="${empleados.number == 0 ? 'disabled' : ''}">
                                    <a th:href="@{/empleados/indexPaginado(page=${empleados.number - 1})}"
                                        class="page-link">Anterior</a>
                                </li>
                                <li class="page-item" th:classappend="${i eq empleados.number + 1} ? 'active'"
                                    th:each="i : ${#numbers.sequence( 1, empleados.totalPages, 1)}">
                                    <a class="page-link"
                                        th:href="@{/empleados/indexPaginado?page={tmpPag} (tmpPag=${i-1}) }"
                                        th:text="${i}" th:title="${'Page '+ i}" data-toggle="tooltip"></a>
                                </li>
                                <li class="page-item"
                                    th:classappend="${empleados.number == (empleados.totalPages - 1) ? 'disabled' : ''}">
                                    <a th:href="@{/empleados/indexPaginado(page=${empleados.number + 1})}"
                                        class="page-link">Siguiente</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <br><br><br><br>

    <footer th:insert="~{fragmentos/pie.html::pie}"></footer>

    <script type="text/javascript" th:src="@{https://kit.fontawesome.com/6626a63f5b.js}"></script>
    <script type="text/javascript" th:src="@{/mdb5/js/mdb.min.js}"></script>
</body>

</html>